*{margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; }
.clearfix::before,.clearfix::after{display: block;content: ''; clear: both;}



#wrap { width: 100%; height: 3500px; margin: 0 auto;}
#headerw {width: 100%; height: 50px; background: rgba(0,0,0,0.9);float: left;}
#headert {width: 65%; height: 50px;  margin: 0 auto;}
.lnb {float: left; padding-top: 10px;}
#headert .lnb li {float: left;}
.lnb li a{padding: 10px; color: gray; }
#headert .gnb  {float: right; padding-top: 10px;}
#headert .gnb li {float: left;}
.gnb li a{padding: 10px; color: gray; }

#headerbw {width: 100%; height: 60px; background: rgba(0,0,0,0.7);float: left; border-bottom: 2px solid gray;}
#headerb {width: 65%;height: 50px; margin: 0 auto;}
.lnb2 {float: left; padding-top: 10px;}
 .lnb2 li {float: left;}
.lnb2 li a{padding: 10px; color:white; }
.lnb22 {float: left;}
 .lnb22 li {float: left; padding: 15px;}
 .lnb22 img {width: 30px;}
 .gnb2  {float: right; padding-top: 10px;}
 .gnb2 li {float: left;}
.gnb2 li a{padding: 10px; color: white; }
.gnb2 img {width: 30px;}
.logo22 {float: left; width: 650px; height: 50px; }
.logo22 ul {width: 650px; height: 50px; position: relative;}
.logo22 li {position: absolute; top: -50%; left: 40%;}


#slide {width: 100%; height: 700px; background: url(../images/너의\ 이름은.jpg); float: left; text-align: center; margin: 0 auto; }
.box {padding-top: 30px; width: 65%; margin: 0 auto; margin-right: -200px;}
.box li {float: left;  padding-right: 250px;}

.box li a {display: block; color: white; font-size: 20px; padding: 30px;  text-decoration: underline;}
.slidelist {width: 65%; height: 200px; margin: 0 auto;}
.slidelist .slideimg {width: 20%; float: left; padding: 10px; padding-right: 50px;}
.slideimg img {width: 200px; height: 230px;}
.span {width: 100px; float: left; padding-top: 20px;}
.span1 { color: white;  border: 2px solid saddlebrown;
     margin-left: 0px; border-radius: 10%;
padding: 5px;}

.btn { margin-top: 20px;
     float: left; width: 80px; height: 30px; background: skyblue; position: relative; right: 0%;}
.btn a {position: absolute; top: 0; left: 23px; padding: 3px;}

#contents {width: 100%; height: 550px;  float: left;}
.contw {width: 65%; margin: 0 auto; padding: 15px;}
.cont00 li{float: left;}

#contents2  {width: 100%; height: 400px; background:#503396; float: left;}
.contt {width: 65%; margin: 0 auto; }
.cont {margin-top: -110px;}
.con1 {float: left;padding-right: 10px;}
.con2 {float: left;padding-right: 10px;}
.con3 {float: left; margin-top: -287px;}
.con4 {float: left; width: 1208px; height: 300px;
      position: relative;text-align: center;
      }
.con4ww   { padding: 100px; }
.con4 .dia {position: absolute; top: 40px; left: 180px;}


.con4 a {color: white;}
.con4 .mem {position: absolute; top: 40px; left: 380px;}

.con4 .card1 {position: absolute; top: 50px; left: 550px;}

.con4 .event {position: absolute; top: 40px; left: 780px;}

.con4 .store {position: absolute; top: 40px; left: 980px;}


#content33  {width: 100%; height: 700px; background: #252451; float: left;}
.contu {width: 65%; margin: 0 auto;}
.contu > h1 {padding-top: 20px;}
.contuu {padding-top: 50px; padding-left: 20px; position: relative;}
.ew {width: 700px; float: right; margin-top: -430px; position: absolute; right: 27%; border-bottom: 3px solid white;}
.ew li {font-size: 30px; color: white; }
.ew li .ii {float: left;}
.tr {width: 700px; float: right; margin-top: -330px; position: absolute; right: 27%;}
.tr li {font-size: 15px; color: white;}
.tr li .nm {float: left;}
.trr {width: 700px; float: right; margin-top: -290px; position: absolute; right: 27%;}
.trr li {font-size: 15px; color: white;}
.tr li .nmm {float: left;}

#content4  {width: 100%; height: 650px; background: white; float: left; position: relative;}
.contb {width: 65%; margin: 0 auto; position: absolute; left: 18%; top: 15%;}
.contb .im {float: left; width: 15%; padding-right: 20px;}
.contb .im img {width: 180px; height: 180px;}
.vv {position: absolute; top: -35%; color: #252451;}
.coii {width: 100%; height: 50px;  float: left; position: absolute; top: 50%;}
.coii1 {width: 65%; margin: 0 auto;}
.coii1 li {float: left; padding-right: 25px; padding-top: 10px;}

#footer {width: 100%; height: 230px; float: left;}